body {
  /*position: fixed;*/
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  bottom: -200px;
  font-family: 'Montserrat', sans-serif;
}

hr.gradientLine {
    /*border: 5;*/
    /*height: 5px;*/

    /*background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));*/
    margin-top:-5px;
    margin-bottom:7px;
    color: black; /* for IE7 */
    border-color: black; /* for Firefox and Opera */
    background-color: black; /* for Chrome and Safari */
}

.ng-scope {
    height: 100%;

}





div.banner_static {
  background-color: darkgreen;
  text-align: center;
  /*height:90px;*/
  font-size: 20pt;
  height:40px;

  width: 100%;
  z-index: 100;
  color: white;
  font-family: 'Montserrat', sans-serif;
  top: 0px;
  position: fixed;
}

div.searchBox_static {
  display:block;
  padding-top: 5px;
  font-family: 'Montserrat', sans-serif;
  /*padding-bottom: 80px;*/
  /*background-color: #C1E094;*/
  background-color: darkgreen;
  height:70px;
  width: 100%;
  z-index: 70;
  /*top: 40px;*/
  top: 0px;
  position: fixed;

text-align:center;
vertical-align: middle;
  /*border-bottom-style: solid;
  border-color: darkgreen;
  border-width: 2px;*/

}

div.footer{
  display:block;
    position:fixed;
    height:50px;
    width: 100%;
    /*background-color: #C1E094;*/
    /*margin: 0 auto;*/
    background-color: darkgreen;
    bottom:0px;
    left:0px;
    right:0px;
    text-align:center;
    z-index:100;
    padding-top:7px;
    /*margin-bottom:0px;*/
    /*border-top-style: solid;
    border-color: darkgreen;
    border-width: 2px;*/
}


div.searchBoxButtons {
  display: inline-block;
}


div.listItems_dynamic {
  font-family: 'Montserrat', sans-serif;
  /*margin-top: 140px;*/
  padding-top: 145px;
  /*margin-bottom: 200px;*/
  /*margin-bottom: 400px;*/
  display:block;
  height: 100%;
  width: 100%;
  background-color: white;
}


div.item {
  display: block;
  margin-bottom: 5px;
  box-shadow: 3px 3px 4px grey;
}

.foundItemWell{
background: #EDF7DF;
border-color: #96BC5F;
}
/*EDF7DF*/
.found_noCarbon{
background: #DCF0BF;
border-color: #96BC5F;
}

.notFound_noCarbon{
background: #E1E1E1;
border-color: #B4B4B4;

}

.favItemInList{
  display: block;
  margin-bottom: 5px;
background: #BFE89F;
border-color: #9BD270;
opacity:0.6;
box-shadow: inset 4px 4px 5px grey;
}

.favItemNotInList{
  display: block;
  margin-bottom: 5px;
box-shadow: 3px 3px 4px grey;
}


div.foundItemContent {
  background-color: #9BD270;
  padding-bottom: 70px;
  border-top-style: solid;
  border-color: darkgreen;
  border-width: 2px;
}

div.errorMsg {
  display: block;
  /*font-family: sans-serif;*/

  margin-top:50px;
  margin-bottom: 50px;
  /*font-family: 'Montserrat', sans-serif;*/
  font-size: 20pt;
  background-color: red;
  text-align: center;
  color: white;

}

div.productName {
  text-overflow: ellipsis; /* will make [...] at the end */
  white-space: nowrap;
  overflow: hidden;
}




/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
  text-align: center;
    padding: 2px 16px;
    background-color: darkgreen;
    color: white;
}

.modal-body {padding: 2px 16px;}








/*General HTML*/
.generalHeadline {
display: inline-block;
color:white;
font-size: 25px;
margin-top: 7px;
white-space:nowrap;
}

.generalFooterButton {
color: darkgreen;
/*margin-top: 5px;*/
font-size: 18px;
}

.generalAlterMSG {
display: block;
text-align:center;
font-family: 'Montserrat', sans-serif;
color: white;
width: 100%;
/*background-color: red;*/

}




/*Footer*/
.footerModalButton {
display: inline-block;
font-size: 18px;
margin-top: 3px;
margin-right: 5px;
}

.footerLabel {
color:white;
display: inline-block;
}









/*Specific.html*/
.specificStarButton {
color:gold;
font-size: 25px;
display:inline-block;
margin-right:10px;
}

.specificItemInfo {
margin-top:85px;
text-align: center;
}

.specificCanvasContainer {
margin-top: 5%;
text-align:center;
}

.specificCanvasInfo {
margin-top:10px;
margin-bottom: 15px;
text-align: center;
font-size: 12px;
}

.specificEditAmountContainer {
background-color:#9BD270;
text-align: center;
margin-top:10px;
padding-bottom:5px;
}

.specificEditAmountHeadline {
font-size: 23px;
padding-top:20px;

}

.specificAmountContainer {
display:inline-block;
margin-right: 25px;
}
.specificAmountLabel {
display:block;
color:black;
}

.specificChangeButton {
margin-top: 10px;
margin-bottom: 10px;
font-size:14px;
width:100px;
}

.specificChangeAlert {
font-family: 'Montserrat', sans-serif;
font-size: 12px;"
}

.specificDidUKnowContainer {
background-color: white;
text-align: center;
margin-top:30px;
}

.specificDidUKnowText {
padding-top:5px;
padding-bottom: 60px;
text-align:center;
}









/*Search.html and Favourite.html*/
.searchClearButton {
position: absolute;
right:0;
margin-right: 20px;
margin-top: 5px;
color: red;
font-size: 14px;
}

.searchLabelContainer {
display:block;
margin-top:20px;
margin-bottom:5px;
}

.searchLabelLeft {
display:inline-block;
margin-left:10%;
}

.searchLabelRight {
display:inline-block;
position:absolute;
right:0;
margin-right: 12%;
}

.searchCheckButton {
display: inline-block;
font-size: 20px;
margin-left: -18px;
margin-top: 8px;
color: green;
}

.searchRemoveButton {
position: absolute;
display: inline-block;
font-size: 20px;
right: 0;
margin-right: 10px;
margin-top: 17px;
color: red;
}

.searchItemNameAmount {
display: inline-block;
margin-top: 2px;
white-space:nowrap;
}

.searchItemCarbon {
display: inline-block;
margin-top: 8px;
position:absolute;
right:7%;
text-align: right;
white-space:nowrap;
}




/*SearchBox.html*/
.searchBoxSearchField {
display: block;
padding-bottom: 5px;
font-family: 'Montserrat', sans-serif;
margin-top: 2%;

}

.searchBoxAddButton {
display: inline-block;
position:absolute;
right:3%;
color: darkgreen;
font-size: 18px;
margin-top: 3%;
}

.searchBoxAutocomplete {
display: inline-block;
width: 60%;
font-family: 'Montserrat', sans-serif;
}

.searchBoxInputs {
font-family: 'Montserrat', sans-serif;
text-align:center;
font-size: 14px;
}

.searchBoxMinimize {
background-color: darkgreen;
color:white;
height: 15px;
margin-top:-3px;
padding-bottom: 20px;
}

.searchBoxAlterWindow {
display: block;
background-color: grey;
color: white;
/*position: fixed;*/
/*z-index: 100;*/
/*width: 100%;*/
/*left: 0;*/
}



/*Login.html and Register.html*/
.loginBackground {
  background-image: url('images/projectNature.gif');
  background-color: black;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  width:100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  text-align:center;
}

.loginWindow {
color: darkgreen;
background-color: rgba(0, 100, 0, 0.7);
padding-top:40px;
padding-bottom: 5%;
height: 100%;
width:100%;
}

.loginContent {
color: darkgreen;
background-color: rgba(255, 255, 255, 0.7);
margin-top:130px;
padding-top: 10px;
padding-bottom: 20px;
}

.loginSignInBox {
margin:auto;
width: 250px;
margin-bottom: 20px;
margin-top: -70px;
box-shadow: 3px 3px 4px grey;
}

.loginForm {
padding-bottom: 5px;
}

.loginSignInInputs {
  margin-top: 7px;
  font-family: 'Montserrat', sans-serif;
}


.loginSignInButton {
font-size:14px;
margin-top: 5px;
width:180px;
}


/*Menu.html*/
.menuOptionWindow {
display:block;
padding-top:60px;
padding-bottom:50px;
}

.menuOption {
display: block;
background-color: white;
color: darkgreen;
height: 25%;
}

.menuOptionText {
margin-top: 12%;
font-size: 20px;
}







/*Stats.html*/
.statsMenuButton {
display: inline-block;
position:absolute;
left:3%;
font-size: 18px;
margin-top: 3%;
}

.statsChartLabelContainer {
  display:block;
  background-color:#9BD270;
  text-align: center;
  padding-bottom:5px;
}

.statsChartLabel {
  font-size: 18px;
  padding-top:10px;
}

.statsCanvas {
display:block;
background-color:white;
padding-top: 30px;
padding-bottom: 20px;
}
