<ng-include src="'partials/searchBox.html'" ng-controller="SearchCtrl"></ng-include>

<div class="listItems_dynamic">

  <div class="col-xs-12" style="padding-bottom: 70px;">
    <h4 style="display: inline-block;"><b>Favoriter</b></h4>
    <button class="searchClearButton btn btn-default btn-xs" style="background-color: white; color:green" ng-model="checkList" ng-click="addAllFavs()"><b>Lägg till alla</b></button>
    <hr class="gradientLine">
    <div ng-show="favList.length">
      <div class="searchLabelContainer">
        <div class="searchLabelLeft"><b>Vara</b></div><div class="searchLabelRight"><b>CO2-avtryck</b></div>
      </div>

      <div ng-repeat="item in favList | orderBy:['!-carbon.average', '-carbon.average']">
        <div class='col-xs-12 well well-sm' ng-class="{'notFound_noCarbon':item.carbon.average=='???', 'favItemInList':favItemAlreadyInList(item), 'favItemNotInList':!favItemAlreadyInList(item)}" ng-model="item" >
          <div class="searchCheckButton col-xs-1 glyphicon glyphicon-shopping-cart" ng-click="addFavItemToCheck(item)"></div>
          <!-- <a href="#!/specific/{{item.id}}" style="color: inherit;"> -->
          <div class='searchItemNameAmount col-xs-4'>{{item.fixedName}}<br><i>{{item.amount}} {{item.unit}}</i></div>
          <div class='searchItemCarbon col-xs-5'><span ng-if="item.carbon.average=='???'">???</span><span ng-if="item.carbon.average!='???'">{{(item.carbon.average*getCO2representation()).toFixed(1)}} {{getCO2unit()}}</span></div>
          <!-- </a> -->
          <div class="searchRemoveButton col-xs-1 glyphicon glyphicon-remove" ng-click="removeItemFromFavouriteList(item)"></div>


        </div>
      </div>
    </div>
    <div ng-show="!favList.length">
      Använd sökfunktionen för att lägga till favoriter i denna lista.
    </div>
  </div>
</div>

<div class="footer">

  <b class="footerLabel">CO2-avtryck i </b>
  <div ng-controller="SearchCtrl" style="display: inline-block;">
    <select class="searchBoxInputs form-control input-sm" ng-init="CO2value='co2'" ng-model="CO2value" ng-change="setCO2representation(CO2value)">
      <option value="" disabled selected>{{getCurrentCO2representation()}}</option>
      <option disabled>-----------------</option>

      <option value="co2">Koldioxid</option>
      <option value="car">Bil</option>
      <option value="subway">Tunnelbana</option>
      <option value="tv">TV-tittande</option>
      <option value="laptop">Laptopanvändning</option>
      <option value="mobile">Mobilladdningar</option>
      <option value="beer">Öl</option>
    </select>
  </div>

</div>




























<script>
$(".header").click(function () {
  $("p", this).toggleClass("glyphicon glyphicon-menu-right glyphicon glyphicon-menu-down");
  $header = $(this);
  $content = $(".content")
  $content.slideToggle(500);
});
</script>
