<!--
<div ng-controller="FavouriteCtrl" class="searchBox_static" style="display:block; font-family: 'Montserrat', sans-serif;">

  <a href="#!/menu" class="btn btn-default glyphicon glyphicon-menu-hamburger" style="display: inline-block; color: darkgreen; font-size: 18px; margin-top: -4px;"></a>

  <div style="display: inline-block; padding-bottom: 5px; font-family: 'Montserrat', sans-serif;">

    <form name="searchForm" ng-model="form" style=" margin-top:5px; font-family: 'Montserrat', sans-serif;" >
      <md-autocomplete
      md-input-name="textField"
      md-selected-item="selectedItem"
      md-search-text="searchText"
      md-search-text-change="searchTextChange(searchText)"
      md-items="item in autoSearch(searchText)"
      md-min-length="2"
      md-item-text="item.name"
      placeholder="Ange vara"
      md-dropdown-items="3"
      md-dropdown-position="bottom"

      style="display: inline-block; width: 200px; font-family: 'Montserrat', sans-serif;">
      <md-item-template>
        <span md-highlight-text="searchText">{{item.name}}</span>
      </md-item-template>
    </md-autocomplete>
    <button class="btn btn-default btn-md glyphicon glyphicon-plus" style="color: darkgreen; font-size: 18px; margin-top: -4px;" ng-click="favSearch(searchForm.textField.$viewValue, amountH, unitH)"></button>
  </form>
</div>



<div>
  <div class="testCont" style="background-color: darkgreen;">
        <div style="text-align:center;">
          <div style="display: inline-block; margin-right: 0px; padding-bottom:5px;">
            <input ng-model="amountH" class="form-control input-sm" value="1000" style="font-family: 'Montserrat', sans-serif; text-align:center; font-size: 14px;" placeholder="Mängd" type="tel" size="6">
          </div>
          <div style="display: inline-block;">
            <select ng-model="unitH" class="form-control input-sm" style="font-family: 'Montserrat', sans-serif; font-size: 14px;">
              <option value="" disabled selected>Enhet</option>
              <option value="kilo">Kilogram</option>
              <option value="gram" selected>Gram</option>
              <option value="liter">Liter</option>
              <option value="deciliter">Deciliter</option>
              <option value="styck">Styck</option>
            </select>
          </div>
        </div>
  </div>

  <div class="testHead" style="background-color: darkgreen; height: 15px; margin-top:-3px; padding-bottom: 20px;">
    <p class="glyphicon glyphicon-menu-up" style="color:white;"></p>
  </div>

</div>

  <div id="statusText" style="display: block; background-color: yellow; color: white; position: fixed; margin-top: 0px; z-index: 100; width: 100%; left: 0;">
    {{status}}
  </div>
  <div style="display: block; background-color: green; color: white; position: fixed; margin-top: 0px; z-index: 100; width: 100%; left: 0;">
    {{favAddedToCheck}}
  </div>

</div>




















<script>


$(".testHead").click(function () {
  console.log(" xDDDDDDDDDDDDDDDDD")
  $("p", this).toggleClass("glyphicon glyphicon-menu-up glyphicon glyphicon-menu-down");
  // $header = $(this);
  //getting the next element
  // $content = $header.next();
  $content = $(".testCont")
  //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
  $content.slideToggle(500);
});







var statusText = document.getElementById('statusText');
statusText.onclick = function() {
    statusText.style.display = "none";
}


</script> -->
