
<div class="searchBox_static">
  <p class="generalHeadline"><b>Meny</b></p>
</div>

<div class="menuOptionWindow">
  <a href="#!/search" class="menuOption btn btn-default btn-sm"><p class="menuOptionText"><span class="glyphicon glyphicon-list-alt"></span> <b>Inköpslista</b></p></a>
  <a href="#!/favourites" class="menuOption btn btn-default btn-sm"><p class="menuOptionText"><span class="glyphicon glyphicon-star-empty"></span> <b>Favoriter</b></p></a>
  <a href="#!/stats" class="menuOption btn btn-default btn-sm"><p class="menuOptionText"><span class="glyphicon glyphicon-stats"></span> <b>Statistik</b></p></a>
  <a href="#!/search" class="menuOption btn btn-default btn-sm"><p class="menuOptionText"><span class="glyphicon glyphicon-tree-deciduous"></span> <b>Guide</b></p></a>
</div>

<div ng-controller="FirebaseCtrl" class="footer">
  <a class="generalFooterButton btn btn-default btn-sm" ng-click="signOut()"><b style="font-size: 18px;">Logga Ut</b></a>
</div>
