<ng-include src="'partials/searchBox.html'" ng-controller="SearchCtrl"></ng-include>

<div class="listItems_dynamic">

  <div class="col-xs-12" style="padding-bottom: 20px;">
    <h4 style="display: inline-block;"><b>Checklista</b></h4>
    <!-- <button class="searchClearButton btn btn-default btn-xs" style="background-color: white; color:red" ng-model="checkList" ng-click="emptyChecklist()"><b>Rensa</b></button> -->
    <hr class="gradientLine">
    <div ng-show="checkList.length">
      <div class="searchLabelContainer">
        <div class="searchLabelLeft"><b>Vara</b></div><div class="searchLabelRight"><b>CO2-avtryck</b></div>
      </div>

      <div ng-repeat="item in checkList | orderBy:['!-carbon.average', '-carbon.average']">
        <div class='col-xs-12 item well well-sm' ng-class="{'notFound_noCarbon':item.carbon.average=='???'}" ng-model="item">

          <div class="searchCheckButton col-xs-1 glyphicon glyphicon-unchecked" ng-click="checkItem(item)"></div>
          <a href="#!/specific/{{item.id}}" style="color: inherit;">
            <div class='searchItemNameAmount col-xs-4' >{{item.fixedName}}<br><i>{{item.amount}} {{item.unit}}</i></div>
            <div class='searchItemCarbon col-xs-5'><span ng-if="item.carbon.average=='???'">???</span><span ng-if="item.carbon.average!='???'">{{(item.carbon.average*getCO2representation()).toFixed(1)}} {{getCO2unit()}}</span></div>
          </a>
          <div class="searchRemoveButton col-xs-1 glyphicon glyphicon-remove" ng-click="removeItemFromCheckList(item)"></div>

        </div>
      </div>

    </div>
    <div ng-show="!checkList.length">
      Använd sökfunktionen för att lägga till varor i denna lista.
    </div>
  </div>

  <div class="col-xs-12 foundItemContent">
    <div class="header" style="display:inline-block;">
      <h4 style="display: inline-block;"><b>Hittade varor</b></h4><p class="glyphicon glyphicon-menu-down" style="margin-left: 5px;"></p>
    </div>
    <button class="searchClearButton btn btn-default btn-xs"  style="background-color: white; color:red" ng-model="completeList" ng-click="emptyCompletelist()"><b>Rensa</b></button>

    <hr class="gradientLine">
    <div class="content">
      <div ng-show="completeList.length">
        <div class="searchLabelContainer">
          <div class="searchLabelLeft"><b>Vara</b></div><div class="searchLabelRight"><b>CO2-avtryck</b></div>
        </div>

        <div ng-repeat="item in completeList | orderBy:['!-carbon.average', '-carbon.average']">
          <div class='col-xs-12 item well well-sm foundItemWell' ng-class="{'found_noCarbon':item.carbon.average=='???'}" ng-model="item">

            <div class="searchCheckButton col-xs-1 glyphicon glyphicon-check" ng-click="uncheckItem(item)"></div>

            <a href="#!/specific/{{item.id}}" style="color: inherit;" ng-click="setItemInfo()">
              <div class='searchItemNameAmount col-xs-4'><strike>{{item.fixedName}}</strike><br><i>{{item.amount}} {{item.unit}}</i></div>
              <div class='searchItemCarbon col-xs-5'><span ng-if="item.carbon.average=='???'">???</span><span ng-if="item.carbon.average!='???'">{{(item.carbon.average*getCO2representation()).toFixed(1)}} {{getCO2unit()}}</span></div>
            </a>

            <div class="searchRemoveButton col-xs-1 glyphicon glyphicon-remove" ng-click="removeItemFromCompleteList(item)"></div>

          </div>
        </div>
      </div>
      <div ng-show="!completeList.length">
        Checka av varor för att flytta dem till denna lista.
      </div>
    </div>
  </div>


</div>

<div class="footer">

  <b class="footerLabel">CO2-avtryck i </b>
  <div ng-controller="SearchCtrl" style="display: inline-block;">
    <select class="searchBoxInputs form-control input-sm" ng-init="CO2value='co2'" ng-model="CO2value" ng-change="setCO2representation(CO2value)">
      <option value="" disabled selected>{{getCurrentCO2representation()}}</option>
      <option disabled>-----------------</option>

      <option value="co2">Koldioxid</option>
      <option value="car">Bil</option>
      <option value="subway">Tunnelbana</option>
      <option value="tv">TV-tittande</option>
      <option value="laptop">Laptopanvändning</option>
      <option value="mobile">Mobilladdningar</option>
      <option value="beer">Öl</option>
    </select>
  </div>

</div>







<script>

$(".header").click(function () {
  $("p", this).toggleClass("glyphicon glyphicon-menu-right glyphicon glyphicon-menu-down");
  $header = $(this);
  $content = $(".content")
  //open up the content needed - toggle the slide- if visible, slide up, if not slidedown.
  $content.slideToggle(500);
});

</script>
