<div ng-init="setItemInfo()">
  <div class="searchBox_static" style="white-space:nowrap;">

    <p ng-click="addOrRemoveItemFromFav(specificItem)" class="specificStarButton" ng-class="{'glyphicon glyphicon-star':itemAlreadyInFav(specificItem), 'glyphicon glyphicon-star-empty':!itemAlreadyInFav(specificItem)}"></p>
    <p class="generalHeadline"><b>{{specificItem.name}}</b></p>
    <div ng-show="removed" class="generalAlterMSG" style="background-color:#f14129;">
      {{removed}}
    </div>
    <div ng-show="added" class="generalAlterMSG" style="background-color:#5cbc3a;">
      {{added}}
    </div>
  </div>

<div class="specificItemInfo" ng-show="specificItem.carbon.average!='???'">
  <p><b>{{specificItem.name}}, {{specificItem.amount}} {{specificItem.unit}}</b><br/>{{specificItem.carbon.average}} gram CO2</p>
</div>



<div class="specificCanvasContainer" ng-show="specificItem.carbon.average!='???'">
  <!-- <div style="color: darkgreen; font-size:35px; margin-bottom:-50%;"><b>34%</b></div> -->
  <canvas id="myChart" width="200" height="200"></canvas>
</div>

<div ng-show="specificItem.carbon.average!='???'" class="specificCanvasInfo col-xs-12">
  <p><i>Hela din nuvarande inköpslistalista har ett koldioxidavtryck på {{totCarbon() + specificItem.carbon.average}} gram
        där {{(specificItem.name).toLowerCase()}} utgör {{percentCarbon()}}%.</i></p>
</div>

<div ng-hide="specificItem.carbon.average!='???'" class="specificCanvasInfo col-xs-12" style="margin-top:30px;">
  <br><br><br>
  <p><b>Denna vara finns inte med i vår databas och har därför inget tillgängligt koldioxidavtryck. Vi ber om ursäkt för det!</b></p>
</div>


<div class="specificEditAmountContainer col-xs-12">

  <label class="specificEditAmountHeadline">Ändra mängd och enhet</label>
  <hr class="gradientLine" style="margin-top: 10px; margin-bottom:10px;">

  <form>
    <div>
      <div class="specificAmountContainer">
        <p class="specificAmountLabel"><b>Mängd:</b></p>
        <div style="display: inline-block; padding-bottom:5px;">
          <input ng-model="amountz" class="searchBoxInputs form-control input-sm" value="{{specificItem.amount}}" placeholder="Mängd" type="tel" size="10">
        </div>
      </div>

      <div style="display:inline-block;">
        <p class="specificAmountLabel"><b>Enhet:</b></p>
        <div style="display: inline-block;">
          <select ng-model="unitz" ng-change="updateSpecificItem(item)" class="searchBoxInputs form-control input-sm">
            <option value="kilo">Kilogram</option>
            <option value="gram" selected>Gram</option>
            <option value="liter">Liter</option>
            <option value="deciliter">Deciliter</option>
            <option value="styck">Styck</option>
          </select>
        </div>
      </div>
    </div>
    <button class="specificChangeButton btn btn-default btn-sm" style="background-color:white;color:darkgreen;" class="specificChangeButton" ng-click="updateItemForUser(amountz, unitz)"><b>Ändra</b></button>
    <div class="specificChangeAlert" style="color: darkgreen;"><b>{{succesfulChange}}</b></div>
    <div class="specificChangeAlert" style="color: #f14129;"><b>{{errorChange}}</b></div>
  </form>

</div>




<div ng-show="specificItem.carbon.average!='???'">
  <div class="specificDidUKnowContainer col-xs-12">

    <label style="font-size: 23px;">Visste du att...</label>
    <hr class="gradientLine" style="margin-top: 10px; margin-bottom:10px;">
  </div>

  <div class="specificDidUKnowText col-xs-12">
    <p>... {{specificItem.amount}}{{specificItem.unit}} {{(specificItem.name).toLowerCase()}} har ett koldioxidavtryck på {{specificItem.carbon.average}}g?</p>
    <p>Det motsvarar lika mycket som antingen en {{(0.00578*specificItem.carbon.average).toFixed(0)}} km lång bilresa,
      {{(4.23729*specificItem.carbon.average).toFixed(0)}} stycken mobilladningar,
      användningen av en laptop i {{(0.5*specificItem.carbon.average).toFixed(0)}} timmar eller
      {{(0.00437*specificItem.carbon.average).toFixed(0)}} stycken öl.</p>
    </div>

  </div>


  <div class="footer">
    <a href="#!/search" class="generalFooterButton btn btn-default btn-sm"><b>Tillbaka till inköpslistan</b></a>
  </div>
</div>
